/*! Sea Creatures Theme */
/* Color Theme Swatches in Hex */
.Sea-Creatures-1-hex { color: #A422A8; }
.Sea-Creatures-2-hex { color: #F5D362; }
.Sea-Creatures-3-hex { color: #F04AF5; }
.Sea-Creatures-4-hex { color: #31F5D0; }
.Sea-Creatures-5-hex { color: #2AA891; }

/*! Travel Theme */
/* Color Theme Swatches in Hex */
.Travel-1-hex { color: #45858C; }
.Travel-2-hex { color: #A0D9D9; }
.Travel-3-hex { color: #D9C589; }
.Travel-4-hex { color: #BF9765; }
.Travel-5-hex { color: #D92B04; }

