/*! Sea Creatures Theme */
/* Color Theme Swatches in Hex */
.Sea-Creatures-1-hex { color: #A422A8; }
.Sea-Creatures-2-hex { color: #F5D362; }
.Sea-Creatures-3-hex { color: #F04AF5; }
.Sea-Creatures-4-hex { color: #31F5D0; }
.Sea-Creatures-5-hex { color: #2AA891; }

/*! Travel Theme */
/* Color Theme Swatches in Hex */
.Travel-1-hex { color: #45858C; }
.Travel-2-hex { color: #A0D9D9; }
.Travel-3-hex { color: #D9C589; }
.Travel-4-hex { color: #BF9765; }
.Travel-5-hex { color: #D92B04; }

/*! AI Layout Design Color Choices */
.layout-1-hex { color: #3E7987; opacity: 65% }
.layout-2-hex { color: #061B1E; }
.layout-3-hex { color: #E9F3F4; }
.layout-4-hex { color: #E89B1F; }


/* text structure */

h1 {
    display: flex;
    justify-content: center;
    
    color: #E89B1F;
}

h2 {

}


h3 {
    display: flex;
    justify-content: center;
    color: #E89B1F;
}

h5 {
    color: #E9F3F4;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #061B1E;
}



/* Main Body */
body {
    margin: auto;
}

footer {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #061B1E;
}

/* Sections*/

.intro {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 865px;
    background-color: #061B1E;
}

.aboutMe {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100%;
    height: 602px;
    color: #061B1E;
    background-color: #E9F3F4;
}

.projectsSection {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100%;
    height: 983px;
    color: #E9F3F4;
    background-color: #061B1E;
}

.contactSection {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100%;
    height: 565px;
    color: #061B1E;
    background-color: #E9F3F4;
}

/* nav bar structure */
.navBar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    background-color: #3E7987;
    
     
}

.mainLogo {
    width: 50px;
    margin: 8px 80px 0px 20px;
}

.navLinks {
    
}


/* secondary layout structures */





/* Tertiary Layout Structures */

#about {
    padding: 8px 40px 8px 0;
}

#projects {
    padding: 8px 40px 8px 0;
}

#resume {
    padding: 8px 40px 8px 0;
}

#contactMe {
    padding: 8px 40px 8px 0;
}